.background-image img{
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: -1;
    filter: blur(2px); 
}

.content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bolder;
}

/* Adjust background image for smaller screens */
@media (max-width: 768px) {
    .background-image img{
        height: 100vh;
        width: 100%;
    }
    .content {
        position: absolute;
        top: 50%; /* Center vertically */
        left: 35%; /* Center horizontally */
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-weight: bolder;
    }
    
}

